html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 75px;
    background: #3490dc;
    box-shadow: 0 0 10px;
}

.header p {
    font-size: 25px;
    font-weight: bold;
}

#content {
    flex-grow: 1;
}

.content-left {
    height: 300px;
    margin-top: 10px;
    box-shadow: 0 0 5px;
}

.avatar {
    width: 200px;
    height: 250px;
    border: 1px solid red;
}

.avatar img {
    width: 200px;
    height: 250px;
}

.content-right {
    height: 600px;
    margin-top: 10px;
    box-shadow: 0 0 5px;
}

.footer {
    width: 100%;
    height: 75px;
    background: #3490dc;
    box-shadow: 0 0 10px;
}
