html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #2a5885;
    box-shadow: 0 0 10px;
}

.header h1 {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0;
}

.header p {
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 0;
}

.header li {
    list-style: none;
    display: inline-block;
}

.header a {
    color: #fff;
    font-size: 13px;
    margin-left: 15px;
    text-decoration: none;
}

#content {
    flex-grow: 1;
}

.content-left {
    height: 300px;
    margin-top: 10px;
    /*box-shadow: 0 0 5px;*/
}

.avatar {
    width: 200px;
    height: 250px;
    border: 1px solid red;
}

.avatar img {
    width: 200px;
    height: 250px;
}

.usermenu {
    margin-top: 25px;
}

.usermenu li {
    list-style: none;
    margin-bottom: 10px;
}

.usermenu a {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.content-right {
    height: 600px;
    margin-top: 10px;
    /*box-shadow: 0 0 5px;*/
}

.fio {
    border: 1px solid red;
    height: 250px;
}

.fotogalery {
    border: 1px solid red;
    height: 250px;
    margin-top: 15px;
}

.friendsnews {
    border: 1px solid red;
    height: 250px;
    margin-top: 15px;
}

.footer {
    width: 100%;
    height: 50px;
    background: #2a5885;
    box-shadow: 0 0 10px;
}
