html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 75px;
    background: #3490dc;
}

.header p {
    font-size: 25px;
    font-weight: bold;
}

#content {
    flex-grow: 1;
}

.content-left {
    border: 1px solid #6574cd;
    height: 300px;
}

.content-right {
    border: 1px solid #6574cd;
    height: 600px;
}

.footer {
    width: 100%;
    height: 75px;
    background: #3490dc;
}
